.Rhistory
.Rapp.history
.RData
.RDataTmp
.Rproj.user/
*.tar.gz
*.Rcheck/
docs/
/.quarto/
/_freeze/
analysis/report.html
analysis/report_files/
analysis/*.pdf
renv/library/
renv/local/
renv/cellar/
renv/staging/
.DS_Store
Thumbs.db
.vscode/
*.swp
